/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

/*Global changes*/
body {
    font-family: "elza-round-variable", sans-serif;
    font-variation-settings: "wght" 300;
    background: #2e4052;
    color: #1D1D1D;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

h2 {
    font-family: "santelia-rough-two", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #3f7d20;
}

p {
    color: #000000;
}

div.container, div.home-container {
    margin: auto;
    max-width: 60em;
    background: #F7F7F7;
}

header {
    padding: 1em 0.5em 1.5em;
}

img.logo {
    margin: 0em 0em 2em;
    max-width: 15em;
}

nav ul li{
    font-variation-settings: "wght" 600;
    padding: 0em 0em 0.25em;
}

nav ul li a {
    color: #2e4052;
}

footer {
    background-color: #7DB62C;
    width: 100%;
}

footer p {
    color: #ffffff;
    padding: 0.75em 0.5em;
}


/*Only modifies index.html*/
section.mainstory a h2 {
    font-size: 3em;
    padding: 0em 0.15em;
}

section.mainstory a p {
    padding: 0em 0.5em 2em;
}

section.secondary a h2 {
    font-size: 2em;
    padding: 0em 0.2em;
}

section.secondary a p {
    padding: 0em 0.5em 2em;
}

section.tertiary {
    border-top: solid 1px #9198a4;
    margin: 0em 0.5em;
}

section.tertiary h2 {
    padding: 0.5em 0em 0em;
}

section.tertiary a h2 {
    font-size: 1.15em;
}

section.tertiary a p {
    padding: 0em 0em 2em;
}

/*Only modifies mainstory.html*/
figure figcaption {
    padding: 0.5em 0.5em 1em;
    font-style: italic;
    color: #445F7A
}

article h2 {
    font-size: 3em;
    padding: 0.5em 0.15em 0.5em;
}

article h3 {
    padding: 1em 0.25em 1em;
    font-size: 1.5em;
    font-variation-settings: "wght" 450;
    color: #445F7A
}

article h4 {
    padding: 0em 0.35em 1em;
    font-size: 1.15em;
}

article p {
    padding: 0em 0.5em 1em;
}

article ul li {
    margin: 0em 2em 1em;
}

article ol li {
    margin: 0em 2em 1em;
}

article ul {
    margin-bottom: 2.5em;
}

article ol {
    margin-bottom: 2.5em;
}

div.container aside {
    padding: 1em 0.5em 4em;
    border: solid 1px #C9C9C9;
}

aside h2 {
    font-size: 1.15em;
}

aside p {
    padding: 0em 0em 2em;
}


/*Desktop specific changes*/
@media only screen and (min-width: 60em) {

/*Global changes*/
    header {
        padding: 1em 0em 1.5em;
        width: 100%;
        padding-right: 1em;
        padding-left: 1em;
        margin-left: -1em;
        /* border-bottom: solid 2px #7DB62C; */
        /* background: #7DB62C; */
    }

    nav ul li {
        display: inline;
        margin: 0em 2em 0em 0em;
        position: relative;
    }

    nav ul li::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 2px;
        background: #616161;
        transition: all .3s ease-in-out;
    }

    nav ul li:hover::before {
        width: 100%;
        left: 0;
    }


    footer {
        width: calc(100% + 2em);
        margin-left: -1em;
    }

/*Only modifies index.html*/
    header, footer {
        grid-column: 1/3;
    }

    div.home-container {
        max-width: 80em;
        padding: 0em 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    div.home-container main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
    }

    section.mainstory:hover img, section.secondary:hover img, section.tertiary:hover img {
        filter: brightness(1.05);
    }

    section.mainstory:hover h2, section.secondary:hover h2, section.tertiary:hover h2 {
        color: #7DB62C;
    }

    section.mainstory:hover p, section.secondary:hover p, section.tertiary:hover p {
        color: #616161;
    }

    section.mainstory {
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
    }

    section.mainstory a {
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.mainstory a figure {
        flex: 1 0 12em;
        display: flex;
    }

    section.mainstory a figure img {
        object-fit: cover;
    }

    section.mainstory a h2 {
        padding: 0em;
        flex: 0 0 1em;
        font-size: 2.5em;
    }

    section.mainstory a p {
        padding: 0em;
        flex: 0 0 4em;
    }

    section.secondary {
        display: flex;
    }

    section.secondary a {
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.secondary a figure {
        flex: 1 0 12em;
        display: flex;
    }

    section.secondary a figure img {
        object-fit: cover;
    }

    section.secondary a h2 {
        padding: 0em;
        flex: 0 0 1em;
        font-size: 1.2em;
    }

    section.secondary a p {
        padding: 0em;
        flex: 0 0 4em;
    }

    div.home-container aside {
        background: none;
        padding: 0em;
        margin: 0em;
    }

    section.tertiary {
        border-top: solid 1px #9198a4;
        margin: 0em;
    }

    section.tertiary a h2 {
        font-size: 1.1em;
    }

    section.tertiary a p {
        padding: 0em 0em 0.75em;
    }


    /*Only modifies mainstory.html*/
    div.container {
        max-width: 80em;
        padding: 0em 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    figure figcaption {
        padding: 0.5em 0em 1em;
    }

    article h2 {
        padding: 0.5em 0em 0.5em;
    }

    article h3 {
        padding: 1em 0em 1em;
    }

    article h4 {
        padding: 0em 0em 1em;
    }

    article p {
        padding: 0em 0em 1em;
    }

    div.container aside section:hover img {
        filter: brightness(1.05);
    }

    div.container aside section:hover h2 {
        color: #7DB62C;
    }

    div.container aside section:hover p {
        color: #616161;
    }

}